# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.venv/

# Local development settings
instance/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Permission files
*.pem